<table dir="rtl" class="how-it-works-component wrapper" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td class="cont align-right" dir="ltr">
        <table class="images">
          <tbody>
            <tr>
              <td class="first">
                <img src="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817651/flynow/photo-2.jpg"
                  srcset="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817651/flynow/photo-2_2x.jpg 2x"
                  class="photo_2">
              </td>
              <td class="second">
                <img src="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817651/flynow/photo-1.jpg"
                  srcset="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817652/flynow/photo-1_2x.jpg 2x"
                  class="photo_1">
              </td>
            </tr>
          </tbody>
        </table>

      </td>
      <td class="cont text right-padding" dir="ltr">
        <h2>How it works?</h2>
        <p>Fly Now Pay Later offers a range of alternative payment options to help customers spread the cost of
          their travel
          arrangements.</p>
        <p>More information can be found at <a href="https://flynowpaylater.com">our website</a> or by looking at your
          agreement
          documents.
        </p>
      </td>
    </tr>
  </tbody>
</table>