<table class="logo-component wrapper" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td>
        <a href="https://www.flynowpaylater.com/">
          <img src="https://res.cloudinary.com/dssxa21tn/image/upload/v1552818673/flynow/logo_2x.png" width="122"
            alt="Flynowpaylater">
        </a>
      </td>
    </tr>
  </tbody>
</table>