<table class="message-component wrapper" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td>
        <h2>Review your agreements</h2>
        <p>Hi Vincenzo,</p>
        <p>Thank you for using Fly Now Pay Later.</p>
        <p>Your application agent today is <em>Vincenzo Marino</em> from <em>Pay Later Group (Test)</em>.
        </p>
        <p>Application reference code: <em>Z3PX7LGTHHLNBHD</em></p>
        <p>To continue your application, please click the link below to review your Credit Agreement,SECCI
          and Terms &amp;
          Conditions.</p>
        {{> button type='primary' url='/review' title='CLICK HERE TO REVIEW' }}
      </td>
    </tr>
  </tbody>
</table>