<table class="people-component inner-wrapper" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td>
        <h2 class="align-center">Why people love us</h2>
        <table>
          <tbody>
            <tr>
              <td class="people-block">
                <table>
                  <tbody>
                    <tr>
                      <td class="people-image">
                        <img src="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817651/flynow/people1.png"
                          alt="people1">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <span class="block text">Allows you to spread the cost of your booking over 3-10
                  instalments.</span>
              </td>
              <td class="people-block">
                <table>
                  <tbody>
                    <tr>
                      <td class="people-image">
                        <img src="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817651/flynow/people2.png"
                          alt="people2">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <span class="block text">Financial protection for your booking.</span>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td class="people-block">
                <table>
                  <tbody>
                    <tr>
                      <td class="people-image">
                        <img src="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817651/flynow/people3.png"
                          alt="people3">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <span class="block text">No early repayment
                  penalties.</span>
              </td>
              <td class="people-block">
                <table>
                  <tbody>
                    <tr>
                      <td class="people-image">
                        <img src="https://res.cloudinary.com/dssxa21tn/image/upload/v1552817651/flynow/people4.png"
                          alt="people4">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <span class="block text">Responsible financial
                  services provider.</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>