<table class="questions-component" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td class="align-center">
        <table>
          <tbody>
            <tr>
              <td>
                <h3>Questions?</h3>
                <p>If you have any questions about your
                  <span>Fly Now Pay Later account</span>, booking or more, please visit our <a href="">customer
                    support</a>
                  page.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>