/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

h1,
h2,
h3,
h4 {
  color: $font-color !important;
  font-family: $body-font-family;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
  font-weight:400;
}

p,
ul,
ol {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: normal;
  margin: 0;
  margin-bottom: 25px;
  color: $text-color;

  li {
    list-style-position: inside;
    margin-left: 5px;
    color: $text-color;
  }
}


a {
  color: $primary-color;
  text-decoration: none;
}

em {
  color: $secondary-color;
  font-style: normal;
}

// Break long strings to prevent x-scrolling
code,
pre,
em,
.word-wrap {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
