---
layout: default.hbs
subject: Newsletter
---
<div class="header">
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
      <td class="align-center">
        <p>A message from Fly Now Pay Later</p>
      </td>
    </tr>
  </table>
</div>
<table class="main" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      {{> logo }}
      {{> message }}
      {{> people }}
      {{> how_it_works }}
      {{> who_we_are }}
      {{> questions }}
    </td>
  </tr>
</table>
<div class="footer">
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
      <td>
        <p>Fly Now Pay Later Limited acts as a credit intermediary and not a lender and is authorised and regulated by
          the
          Financial ConductAuthority under registration number 726937. Credit accounts are provided by Pay Later
          Financial Services Limited who are authorisedand regulated by the Financial Conduct Authority under
          registration number 672306. Pay Later Financial Services Limited registeredoffice: Eighth Floor, 6 New Street
          Square, London, EC4A 3AQ, United Kingdom. Registered in England and Wales No. 09020100. FlyNow Pay Later ® &
          Travelfund ® are registered trademarks of Pay Later Group Limited.</p>
      </td>
    </tr>
  </table>
</div>