<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ subject }}</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" data-inline-ignore>
  <link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

  <table class="body" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>

      <td class="container">
        <div class="content">{{ body }}</div>
      </td>

    </tr>
  </table>

</body>

</html>